@use '../../mixins/variables' as *
@use '../../mixins/mixins' as *

.compressed-view
    display: flex
    height: 100px
    @include border(false, true, true, true)

.thumbnail-div
    @include flex(center, center)
    min-width: 200px
    min-height: 100px

    .thumbnail
        max-width: 200px
        max-height: 100px

.data-div
    width: 100px
    margin: 0px
    text-align: center

    h4
        @include truncated-text(2)
        margin: 10px 0px

    .timestamp
        margin: 0px
        color: $link-color
        cursor: pointer

    .timestamp:hover
        color: $link-hover-color

.note-div
    width: 100%
    @include truncated-text(3)
    margin: 10px

    .note
        margin: -16px 0px

.down-button
    @include button
    padding: 5px
    width: 30px

    .down
        font-size: 20px
