@use '../../mixins/mixins' as *

.compressed-view
    display: flex
    height: 100px
    @include border(true, true, true, true)

.thumbnail-div
    @include flex(space-between, center)

.thumbnail
    max-width: 200px
    max-height: 100px

.data-div
    width: 100px
    margin: 0px 10px
    text-align: center

    h4, p
        @include truncated-text(2)

.note-div
    width: 100%
    margin: 15px 0px
    @include truncated-text(3)

    .note
        margin: 0px

.down-button
    @include button
    padding: 0px

.down
    width: 20px
    margin: 0px 5px
