.compressed-view
    display: flex
    height: 100px
    border: solid 2px black

.thumbnail-div
    display: flex
    align-items: center

.thumbnail
    max-width: 200px
    max-height: 100px

.data-div
    text-align: center
    width: 100px
    margin: 0px 10px

    h4, p
        margin: 10px 0px
        overflow: hidden
        -webkit-line-clamp: 2
        display: -webkit-box
        -webkit-box-orient: vertical
        height: calc(2 * 1.5em)

.note-div
    margin: 15px 10px 15px 0
    overflow: hidden
    -webkit-line-clamp: 3
    display: -webkit-box
    -webkit-box-orient: vertical
    height: calc(3 * 1.5em)

    .note
        margin: 0px
