.video-player
    position: relative

    video
        width: 100%
        height: auto

.video-player:fullscreen
    display: flex
    flex-direction: column
    justify-content: space-between
    max-width: 100%
    height: 100%

    video
        margin-top: auto
        margin-bottom: auto
