.video-player
    position: relative

    video
        width: 100%

.video-player:fullscreen
    display: flex
    flex-direction: column
    justify-content: center

.video-div
    cursor: pointer

.video-outer-div
    height: var(--video-height)

.video-outer-div-open-page
    display: flex
    flex-direction: column
    justify-content: center
