<div class="settings-div">
    <!--TODO: kód refaktorálása-->
    <h2>{{ 'settings.settings' | translate }}</h2>
    <h3>{{ 'settings.loadNote' | translate }}</h3>
    <ul>
        <li>
            <label>
                {{ 'settings.loadNote' | translate }}:
                <help-toggle
                    [key]="'loadNote'"
                    [isActive]="isHelpOpen('loadNote')"
                    (toggle)="toggleHelp('loadNote')">
                </help-toggle>
            </label>
            <input type="file" (change)="onFileChange($event)" accept=".json">
            @if (isHelpOpen("loadNote"))
            {
                <p class="help">{{ 'settings.help.loadNote' | translate }}</p>
            }
        </li>
    </ul>
    <h3>{{ 'settings.videoPlayerSettings' | translate }}</h3>
    <ul>
        <li>
            <label>
                {{ 'settings.playbackSpeed' | translate }}:
                <help-toggle
                    [key]="'playbackSpeed'"
                    [isActive]="isHelpOpen('playbackSpeed')"
                    (toggle)="toggleHelp('playbackSpeed')">
                </help-toggle>
            </label>
            <select (change)="changePlaybackSpeed($event)">
                @for (speed of playbackSpeeds; track $index)
                {
                    <option [value]="speed" [selected]="speed === 1">{{speed}}x</option>
                }
            </select>
            @if (isHelpOpen("playbackSpeed"))
            {
                <p class="help">{{ 'settings.help.playbackSpeed' | translate }}</p>
            }
        </li>
        <li>
            <label>
                {{ 'settings.forwardRateInSeconds' | translate }}:
                <help-toggle
                    [key]="'forwardRateInSeconds'"
                    [isActive]="isHelpOpen('forwardRateInSeconds')"
                    (toggle)="toggleHelp('forwardRateInSeconds')">
                </help-toggle>
            </label>
            <input type="number" min="1" max="10000" [value]="(videoForwardRate$ | async)" (input)="setVideoForwardRate($event)">
            @if (isHelpOpen("forwardRateInSeconds"))
            {
                <p class="help">{{ 'settings.help.forwardRateInSeconds' | translate }}</p>
            }
        </li>
        <li>
            <label>
                {{ 'settings.rewindRateInSeconds' | translate }}:
                <help-toggle
                    [key]="'rewindRateInSeconds'"
                    [isActive]="isHelpOpen('rewindRateInSeconds')"
                    (toggle)="toggleHelp('rewindRateInSeconds')">
                </help-toggle>
            </label>
            <input type="number" min="1" max="10000" [value]="(videoRewindRate$ | async)" (input)="setVideoRewindRate($event)">
            @if (isHelpOpen("rewindRateInSeconds"))
            {
                <p class="help">{{ 'settings.help.rewindRateInSeconds' | translate }}</p>
            }
        </li>
        <li>
            <label>
                {{ 'settings.subtitles' | translate }}:
                <help-toggle
                    [key]="'subtitles'"
                    [isActive]="isHelpOpen('subtitles')"
                    (toggle)="toggleHelp('subtitles')">
                </help-toggle>
            </label>
            <button (click)="toggleSubtitles()">{{ isSubtitleVisible ? ('settings.on' | translate) : ('settings.off' | translate) }}</button>
            @if (isHelpOpen("subtitles"))
            {
                <p class="help">{{ 'settings.help.subtitles' | translate }}</p>
            }
        </li>
        <li>
            <label>
                {{ 'settings.videoNavbarOffset' | translate }}:
                <help-toggle
                    [key]="'videoNavbarOffset'"
                    [isActive]="isHelpOpen('videoNavbarOffset')"
                    (toggle)="toggleHelp('videoNavbarOffset')">
                </help-toggle>
            </label>
            <button (click)="toggleOffset()" [disabled]="isFullscreen$ | async">{{ (isOffsetNegative$ | async) ? ('settings.on' | translate) : ('settings.off' | translate) }}</button>
            @if (isHelpOpen("videoNavbarOffset"))
            {
                <p class="help">{{ 'settings.help.videoNavbarOffset' | translate }}</p>
            }
        </li>
    </ul>
    <h3>{{ 'settings.editingSettings' | translate }}</h3>
    <ul>
        <li>
            <label>
                {{ 'settings.languages' | translate }}:
                <help-toggle
                    [key]="'languages'"
                    [isActive]="isHelpOpen('languages')"
                    (toggle)="toggleHelp('languages')">
                </help-toggle>
            </label>
            <select [value]="(settings$ | async)?.language" (change)="changeLang($event)">
                @for (lang of langs; track $index)
                {
                    <option [value]="lang.code">{{ lang.label }}</option>
                }
            </select>
            @if (isHelpOpen("languages"))
            {
                <p class="help">{{ 'settings.help.languages' | translate }}</p>
            }
        </li>
        <li>
            <label>
                {{ 'settings.theme' | translate }}:
                <help-toggle
                    [key]="'theme'"
                    [isActive]="isHelpOpen('theme')"
                    (toggle)="toggleHelp('theme')">
                </help-toggle>
            </label>
            <select [value]="(settings$ | async)?.theme" (change)="changeTheme($event)">
                <option value="light">{{ 'settings.light' | translate }}</option>
                <option value="dark">{{ 'settings.dark' | translate }}</option>
            </select>
            @if (isHelpOpen("theme"))
            {
                <p class="help">{{ 'settings.help.theme' | translate }}</p>
            }
        </li>
        <li>
            <label>
                {{ 'settings.saveSettings' | translate }}:
                <help-toggle
                    [key]="'saveSettings'"
                    [isActive]="isHelpOpen('saveSettings')"
                    (toggle)="toggleHelp('saveSettings')">
                </help-toggle>
            </label>
            <button (click)="toggleSaveSettings()">{{ (settings$ | async)?.saveSettings ? ('settings.on' | translate) : ('settings.off' | translate) }}</button>
            @if (isHelpOpen("saveSettings"))
            {
                <p class="help">{{ 'settings.help.saveSettings' | translate }}</p>
            }
        </li>
        <li>
            <label>
                {{ 'settings.convertInput' | translate }}:
                <help-toggle
                    [key]="'convertInput'"
                    [isActive]="isHelpOpen('convertInput')"
                    (toggle)="toggleHelp('convertInput')">
                </help-toggle>
            </label>
            <button (click)="toggleConvertInput()">{{ (settings$ | async)?.convertInput ? ('settings.on' | translate) : ('settings.off' | translate) }}</button>
            @if (isHelpOpen("convertInput"))
            {
                <p class="help">{{ 'settings.help.convertInput' | translate }}</p>
            }
        </li>
        <li>
            <label>
                {{ 'settings.confirmCancel' | translate }}:
                <help-toggle
                    [key]="'confirmCancel'"
                    [isActive]="isHelpOpen('confirmCancel')"
                    (toggle)="toggleHelp('confirmCancel')">
                </help-toggle>
            </label>
            <button (click)="toggleConfirmCancel()">{{ (settings$ | async)?.confirmCancel ? ('settings.on' | translate) : ('settings.off' | translate) }}</button>
            @if (isHelpOpen("confirmCancel"))
            {
                <p class="help">{{ 'settings.help.confirmCancel' | translate }}</p>
            }
        </li>
        <li>
            <label>
                {{ 'settings.confirmDelete' | translate }}:
                <help-toggle
                    [key]="'confirmDelete'"
                    [isActive]="isHelpOpen('confirmDelete')"
                    (toggle)="toggleHelp('confirmDelete')">
                </help-toggle>
            </label>
            <button (click)="toggleConfirmDelete()">{{ (settings$ | async)?.confirmDelete ? ('settings.on' | translate) : ('settings.off' | translate) }}</button>
            @if (isHelpOpen("confirmDelete"))
            {
                <p class="help">{{ 'settings.help.confirmDelete' | translate }}</p>
            }
        </li>
        <li>
            <label>
                {{ 'settings.stopVideoOnNote' | translate }}:
                <help-toggle
                    [key]="'stopVideoOnNote'"
                    [isActive]="isHelpOpen('stopVideoOnNote')"
                    (toggle)="toggleHelp('stopVideoOnNote')">
                </help-toggle>
            </label>
            <button (click)="toggleStopVideoOnNote()">{{ (settings$ | async)?.stopVideoOnNote ? ('settings.on' | translate) : ('settings.off' | translate) }}</button>
            @if (isHelpOpen("stopVideoOnNote"))
            {
                <p class="help">{{ 'settings.help.stopVideoOnNote' | translate }}</p>
            }
        </li>
        <li>
            <label>
                {{ 'settings.startVideoOnSave' | translate }}:
                <help-toggle
                    [key]="'startVideoOnSave'"
                    [isActive]="isHelpOpen('startVideoOnSave')"
                    (toggle)="toggleHelp('startVideoOnSave')">
                </help-toggle>
            </label>
            <button (click)="toggleStartVideoOnSave()">{{ (settings$ | async)?.startVideoOnSave ? ('settings.on' | translate) : ('settings.off' | translate) }}</button>
            @if (isHelpOpen("startVideoOnSave"))
            {
                <p class="help">{{ 'settings.help.startVideoOnSave' | translate }}</p>
            }
        </li>
        <li>
            <label>
                {{ 'settings.thumbnail.qualityPercentage' | translate }}:
                <help-toggle
                    [key]="'thumbnail.qualityPercentage'"
                    [isActive]="isHelpOpen('thumbnail.qualityPercentage')"
                    (toggle)="toggleHelp('thumbnail.qualityPercentage')">
                </help-toggle>
            </label>
            <input type="range" min="1" max="100" [value]="(settings$ | async)?.thumbnailQualityPercentage" (input)="setThumbnailQualityPercentage($event)"/>
            @if (isHelpOpen("thumbnail.qualityPercentage"))
            {
                <p class="help">{{ 'settings.help.thumbnail.qualityPercentage' | translate }}</p>
            }
        </li>
        <li>
            <label>
                {{ 'settings.thumbnail.width' | translate }}:
                <help-toggle
                    [key]="'thumbnail.width'"
                    [isActive]="isHelpOpen('thumbnail.width')"
                    (toggle)="toggleHelp('thumbnail.width')">
                </help-toggle>
            </label>
            <input type="number" min="1" max="2048" [value]="(settings$ | async)?.thumbnailWidth" (input)="setThumbnailWidth($event)">
            @if (isHelpOpen("thumbnail.width"))
            {
                <p class="help">{{ 'settings.help.thumbnail.width' | translate }}</p>
            }
            <!--TODO: opció, hogy összekapcsolva, méretarányosan lehessen változatani a méretet-->
            <!--TODO: legyen egy vissza az alapértékek gomb is-->
        </li>
        <li>
            <label>
                {{ 'settings.thumbnail.height' | translate }}:
                <help-toggle
                    [key]="'thumbnail.height'"
                    [isActive]="isHelpOpen('thumbnail.height')"
                    (toggle)="toggleHelp('thumbnail.height')">
                </help-toggle>
            </label>
            <input type="number" min="1" max="2048" [value]="(settings$ | async)?.thumbnailHeight" (input)="setThumbnailHeight($event)">
            @if (isHelpOpen("thumbnail.height"))
            {
                <p class="help">{{ 'settings.help.thumbnail.height' | translate }}</p>
            }
            <!--TODO: opció, hogy összekapcsolva, méretarányosan lehessen változatani a méretet-->
            <!--TODO: legyen egy vissza az alapértékek gomb is-->
        </li>
        <li>
            <label>
                {{ 'settings.thumbnail.forwardRateInSeconds' | translate }}:
                <help-toggle
                    [key]="'thumbnail.forwardRateInSeconds'"
                    [isActive]="isHelpOpen('thumbnail.forwardRateInSeconds')"
                    (toggle)="toggleHelp('thumbnail.forwardRateInSeconds')">
                </help-toggle>
            </label>
            <input type="number" min="1" max="10000" [value]="(settings$ | async)?.thumbnailForwardRate" (input)="setThumbnailForwardRate($event)">
            @if (isHelpOpen("thumbnail.forwardRateInSeconds"))
            {
                <p class="help">{{ 'settings.help.thumbnail.forwardRateInSeconds' | translate }}</p>
            }
        </li>
        <li>
            <label>
                {{ 'settings.thumbnail.rewindRateInSeconds' | translate }}:
                <help-toggle
                    [key]="'thumbnail.rewindRateInSeconds'"
                    [isActive]="isHelpOpen('thumbnail.rewindRateInSeconds')"
                    (toggle)="toggleHelp('thumbnail.rewindRateInSeconds')">
                </help-toggle>
            </label>
            <input type="number" min="1" max="10000" [value]="(settings$ | async)?.thumbnailRewindRate" (input)="setThumbnailRewindRate($event)">
            @if (isHelpOpen("thumbnail.rewindRateInSeconds"))
            {
                <p class="help">{{ 'settings.help.thumbnail.rewindRateInSeconds' | translate }}</p>
            }
        </li>
    </ul>
    <h3>{{ 'settings.shortcuts.shortcuts' | translate }}</h3>
    <div class="attention">
        <p>{{ 'settings.shortcuts.attention' | translate }}</p>
        <p>{{ 'settings.shortcuts.explanation' | translate }}</p>
    </div>
    <ul>
        @for (f of shortcutFields; track $index)
        {
            <li>
                <label>
                    {{ f.label | translate }}:
                    <help-toggle
                        [key]="f.key"
                        [isActive]="isHelpOpen(f.key)"
                        (toggle)="toggleHelp(f.key)">
                    </help-toggle>
                </label>

                <input
                    type="text"
                    maxlength="1"
                    [value]="(settings$ | async)?.shortcuts?.[f.key]"
                    (input)="setShortcut(f.key, $event)">

                @if (isHelpOpen(f.key))
                {
                    <p class="help">{{ f.help | translate }}</p>
                }
            </li>
        }
    </ul>
</div>
