/* You can add global styles to this file, and also import other style files */

:root
    --video-height: 0

.hidden
    display: none

.open-page
    width: 50%

.full-width
  width: 100%

.half-width
  width: 50%
