/* You can add global styles to this file, and also import other style files */
@use 'mixins/mixins' as *

:root
    --video-height: 0
    --video-navbar-offset: -65px

.hidden
    display: none

.open-page
    width: 50%

.full-width
  width: 100%

.half-width
  width: 50%

.element-0
    .compressed-view
        @include border(true, true, false, true)

    .extended-view
        @include border(true, true, false, true)
