@use '../../mixins/variables' as *
@use '../../mixins/mixins' as *

.editing-view
    display: flex
    position: absolute
    width: calc(100% - 40px)
    height: $editing-view-height
    bottom: 0
    margin-bottom: 15px
    @include border(true, true, true, true)

.data
    width: 250px
    @include border(false, true, false, false)

    .thumbnail-div
        @include flex(center, center)
        height: 110px

        .thumbnail
            max-width: 250px
            max-height: 110px

    .time
        @include flex(space-between, center)
        padding: 5px 10px 0px 10px

        button
            @include flex(space-between, center)
            @include button
            padding: 6px 12px

            i
                font-size: 20px

    .title
        padding: 10px
        @include flex(center, center)

        label
            margin-right: 10px

        input[type="text"]
            width: 180px
            padding: 7px
            min-height: 23px
            border: 1px solid #ccc
            border-radius: 4px
            font-size: 16px
            outline: none
            transition: border-color 0.3s
            color: var(--input-color)
            background-color: var(--input-background-color)

        input[type="text"]:focus
            border-color: $input-focus-color
            box-shadow: 0 0 5px rgba(102, 175, 233, .5)

        input[type="text"]::placeholder
            color: #aaa
            opacity: 1

    .save-cancel
        @include flex(space-between, center)

        button
            width: 100%
            margin: 0px 2px

.note
    width: 100%

    .edit-note
        @include flex(space-between, center)
        @include border(false, false, true, false)

        .style-buttons
            button
                @include button
                padding: 7px
                margin: 0px 1px

                i
                    font-size: 17px

        button
            padding: 8px
            margin: 1px

    .type-note
        display: flex
        height: 195px
        margin: 5px

        textarea
            flex: 1
            padding: 10px
            font-size: 16px
            resize: none
            outline: none
            border: 1px solid #ccc
            border-radius: 4px
            color: var(--input-color)
            background-color: var(--input-background-color)

        textarea:focus
            border-color: $input-focus-color
            box-shadow: 0 0 5px rgba(102, 175, 233, .5)

.export
    @include button
    @include export-button

.save
    @include button
    @include save-button
    min-height: 30px

.cancel
    @include button
    @include delete-button
    min-height: 30px
