@use 'variables' as *

@mixin page
    position: absolute
    right: 0
    top: 0
    height: calc(100% - 5px - ($page-padding * 2))
    width: calc(50% - ($page-padding * 2))
    background-color: lightgrey
    padding: $page-padding

@mixin flex($justify: center, $align: center)
    display: flex
    justify-content: $justify
    align-items: $align

@mixin button
    margin: 0px
    padding: 4px 8px
    font-size: 14px
    border: none
    border-radius: 5px
    background-color: transparent
    cursor: pointer

    &:hover
        background-color: $button-hover-background-color

@mixin export-button
    background-color: $button-export-background-color

    &:hover
        color: white
        background-color: $button-export-hover-background-color

@mixin save-button
    background-color: $button-save-background-color

    &:hover
        color: white
        background-color: $button-save-hover-background-color

    &:disabled
        background-color: $button-disabled-background-color
        color: $button-disabled-text-color
        opacity: 0.6
        cursor: not-allowed

@mixin delete-button
    background-color: $button-delete-background-color

    &:hover
        color: white
        background-color: $button-delete-hover-background-color

    &:disabled
        background-color: $button-disabled-background-color
        color: $button-disabled-text-color
        opacity: 0.6
        cursor: not-allowed

@mixin cancel-button
    background-color: $button-cancel-background-color

    &:hover
        color: white
        background-color: $button-cancel-hover-background-color

@mixin border($top: false, $right: false, $bottom: false, $left: false)
    @if $top
        border-top: $border-width solid $border-color
    @if $right
        border-right: $border-width solid $border-color
    @if $bottom
        border-bottom: $border-width solid $border-color
    @if $left
        border-left: $border-width solid $border-color

@mixin truncated-text($max-lines)
    overflow: hidden
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: $max-lines
    height: calc($max-lines * $line-height)
    margin: 0
