$editing-view-height: 245px
$line-height: 1.5em
$page-padding: 20px
$border-width: 2px
$border-color: black
$button-hover-background-color: #bbbbbb
$button-export-background-color: #4acfc4
$button-save-background-color: #53cf4a
$button-cancel-background-color: #d65d5d
$button-export-hover-background-color: #008075
$button-save-hover-background-color: #0a9d00
$button-cancel-hover-background-color: #b63d3d
$input-focus-color: #66afe9
$link-color: #4198e0
$link-hover-color: #66afe9
