@if (isExtendedView)
{
    <div class="extended-view">
        <div class="control-div">
            <div class="thumbnail-div">
                <img [src]="entry.thumbnail" [alt]="entry.title" class="thumbnail">
            </div>
            <div class="data-div">
                <h4 class="title" [title]="entry.title">{{ entry.title }}</h4>
                <p (click)="jumpToTimestamp()" class="timestamp">
                    {{ entry.timestamp }}
                </p>
                <button (click)="deleteEntry()" [disabled]="editMode$ | async" class="delete">Delete Entry</button>
                <button (click)="editEntry()" class="edit">Edit Entry</button>
                @if (showModal)
                {
                    <confirm-message
                        [message]="'Delete'"
                        [type]="'delete'"
                        (confirm)="confirmDelete()"
                        (cancel)="cancelDelete()">
                    </confirm-message>
                }
            </div>
        </div>
        <div class="note-div">
            @if ((settings$ | async)!.convertInput)
            {
                <div class="note-html" [innerHTML]="entry.formattedNoteHTML"></div>
            }
            @else
            {
                <p class="note-raw">{{ entry.note }}</p>
            }
        </div>
        <button (click)="close()" class="up-button">
            <i class="bi bi-chevron-up up"></i>
        </button>
    </div>
}
