@use '../../mixins/variables' as *
@use '../../mixins/mixins' as *

.extended-view
    display: flex
    height: 225px
    @include border(false, true, true, true)

.control-div
    max-width: 300px
    max-height: 150px

.thumbnail-div
    @include flex(center, center)
    min-width: 300px
    min-height: 150px

.thumbnail
    max-width: 300px
    max-height: 150px

.data-div
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: auto auto
    gap: 10px
    padding: 10px
    border-radius: 5px
    text-align: center

    .title
        grid-column: 1
        margin: 0
        @include truncated-text(1)

    .timestamp
        grid-column: 2
        margin: 0
        color: $link-color
        cursor: pointer

    .timestamp:hover
        color: $link-hover-color

.note-div
    width: 100%
    margin: 10px
    overflow: auto

    // TODO: ha táblázat van a tetején akkor margin: 0px
    .note
        margin: -16px 0px

.edit
    grid-column: 2
    @include button
    @include save-button

.delete
    grid-column: 1
    @include button
    @include delete-button

.up-button
    @include button
    padding: 5px
    width: 30px

    .up
        font-size: 20px
